# Data Science Tools and Ecosystem #

In this Jupyter Notebook, Data Science Tools and Ecosystem are shown.

**Objectives**

* List popular languages data scientists use.
* List common libraries used in Data Science.
* Practice the evaluation of arithmetic expressions.
* Name some open source data science tools.

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Scikit-learn
3. Pandas
4. PyTorch

| Data Science Tools |
| ------------------ |
| GitHub             |
| MongoDB            |
| IBM Watson Studio  |

### Below are a few examples of evaluating arithmetic expressions in Python. ###

This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200 / 60

3.3333333333333335

## Author ##

Cesar Mari